<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static',filename='src/output.css')}}">
</head>
<body class="bg-[#1B0B2D] min-h-screen flex flex-col">
    <header class="flex justify-center p-2">
        <h1 class="text-white text-3xl font-bold">Port Scanner</h1>
    </header>
    <main class="flex-1 flex">
        <div class="selectProtocol flex flex-1 justify-center items-center">
            <form class="bg-[#271042] rounded p-8">
                <legend class="text-white">Select your protocol</legend>
                <div class="flex justify-center">
                    <div>
                        <input type="radio" id="tcp" name="protocol" value="TCP" checked>
                        <label class="text-white" for="tcp">TCP</label>
                    </div>
                    <div>
                        <input type="radio" id="udp" name="protocol" value="UDP">
                        <label class="text-white" for="udp">UDP</label>
                    </div>
                </div>

                <button class="text-white bg-red-200 w-full" type="submit">Lancer le scan</button>
            </form>
        </div>
    </main>
    <footer>Brice</footer>
</body>
</html>